.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.cardImageWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.cardWrapper {
  width: 244px;
  height: 296px;
  position: relative;
  top: 0;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
}

.cardWrapper:hover {
  top: -5px;
  box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
}

[data-theme='dark'] .cardWrapper:hover {
  background-color: rgba(98, 96, 108, 0.2);
}

.featuresContainer {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding-bottom: 6rem;
}

.cardBadge {
  border-radius: 353px;
}

.cardFooter {
  color: var(--ifm-card-footer-color);
  font-size: 18px;
  padding-top: 150px;
}