/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Regular.woff2') format('woff2'),
        url('../fonts/TTTravels-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Medium.woff2') format('woff2'),
        url('../fonts/TTTravels-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-DemiBold.woff2') format('woff2'),
        url('../fonts/TTTravels-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Bold.woff2') format('woff2'),
        url('../fonts/TTTravels-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB International';
    src: url('../fonts/NBInternationalRegularWebfont.woff2') format('woff2'),
        url('../fonts/NBInternationalRegularWebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB International';
    src: url('../fonts/NBInternationalBoldWebfont.woff2') format('woff2'),
        url('../fonts/NBInternationalBoldWebfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* VARIABLES FOR BOTH LIGHT AND DARK THEMES (if defined again in dark or light variables they will overwrite this ones) */
:root {
  /* THEME COLORS */

  --gho-border: rgba(98, 96, 108, 0.1);
  --ifm-color-primary: #39375a;
  --ifm-color-primary-dark: #333151;
  --ifm-color-primary-darker: #302f4d;
  --ifm-color-primary-darkest: #28263f;
  --ifm-color-primary-light: #3f3d63;
  --ifm-color-primary-lighter: #423f68;
  --ifm-color-primary-lightest: #4a4875;
  --ifm-color-info-contrast-background: rgba(98, 96, 108, 0.1);
  --ifm-color-success-contrast-background: rgba(98, 96, 108, 0.1);
  --ifm-color-warning-contrast-background: rgba(98, 96, 108, 0.1);

  /* GENERAL */

  --ifm-background-color: #DBD2EF;

  /* FONT */

  --ifm-font-color-base: var(--ifm-color-primary);
  --ifm-font-family-base:'NB International';
  --ifm-heading-font-family: 'TT Travels';
  --ifm-line-height-base: 1.65;
  --ifm-heading-line-height: 1.05;

  /* HEADING */

  --ifm-heading-color: var(--ifm-color-primary);

  /* CARD */

  --ifm-card-background-color: rgba(255, 255, 255, 0.1);
  --ifm-card-footer-color: #616070;
  --ifm-card-border-radius: 16px;

  /* NAVBAR */

  --ifm-navbar-background-color:rgb(255, 255, 255);

  /* HERO */

  --ifm-hero-text-color: var(--ifm-color-primary);
  --ifm-hero-background-color: transparent;

  /* BADGE */

  --ifm-badge-color: var(--ifm-background-color);
  --ifm-badge-background-color: var(--ifm-color-primary);

  /* HIGHLIGHTER */

  --ifm-code-font-size: 95%;
  --ifm-background-surface-color: background: linear-gradient(90deg,rgba(36,33,37,.06) 80%,rgba(98,96,108,.1));
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);


  /* SEARCH */

  --docsearch-text-color: var(--ifm-color-primary)!important;
}

/* VARIABLES FOR LIGHT THEME */

[data-theme='light'] {

  /* GENERAL */

  background-position: 0px -30vh;
  background: radial-gradient(50% 50% at 50% 50%, #DBD2EF 0%, #EFEAF9 100%);

  /* SEARCH */

  --docsearch-muted-color: rgba(57, 55, 90, 0.5)!important;
}

/* VARIABLES FOR DARK THEME */

[data-theme='dark'] {
  /* THEME COLORS */

  --ifm-color-primary: #c9b3f9;
  --ifm-color-primary-dark: #ad8bf6;
  --ifm-color-primary-darker: #9f77f4;
  --ifm-color-primary-darkest: #743cf0;
  --ifm-color-primary-light: #e5dbfc;
  --ifm-color-primary-lighter: #f3effe;
  --ifm-color-primary-lightest: #ffffff;

  /* GENERAL */

  --ifm-background-color: #201F2D!important;

  /* CARD*/

  --ifm-card-background-color: rgba(98, 96, 108, 0.1)!important;
  --ifm-card-footer-color: #9C93B2;

  /* NAVBAR */

  --ifm-navbar-background-color:rgba(32, 31, 45, 0.2);

  /* HIGHLIGHTER */

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* SEARCH */

  --docsearch-searchbox-background: rgba(201, 179, 249, 0.05)!important;
  --docsearch-muted-color: rgba(201, 179, 249, 0.5)!important;
}

article {
  max-width: 700px;

}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
  font-weight: bold ;
}

p {
  font-weight:400;
  
}

[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}

.cardContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%)!important;


border: 1.5px solid  var(--gho-border) !important;


  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.cardContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module:hover {
  border-color: var(--ifm-color-primary)!important;
  box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%)!important;
}

.navbar {
    backdrop-filter: blur(14px);

    }

.links-list {
  font-size: 18px;
  list-style-type: square;
  padding-left: 30px;
}

.clickable-button {
  background-color: #403c48;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px #ccc;

  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.clickable-button:hover {
  background-color: #fff;
  color: #3e3e3e;
  box-shadow: 2px 2px 5px #835e8b;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .clickable-button {
    background-color: #333;
    color: #fff;
  }

  .clickable-button:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 2px 2px 5px #333;
  }
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25%;
}