/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #201F2D;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}
/* html {
  background-color: #dbd2ef;
}

html.dark {
  background-color: #201F2D;
} */

body {
  /* font-family: 'Roboto', sans-serif; */
  height: 100vh;
}

#__next {
  height: 100%;
}

/* body {
  @apply font-nb;
}

.pill {
  @apply bg-gems dark: bg-velvet text-night dark:text-violet text-xs font-bold px-6 py-1 flex items-center justify-center uppercase rounded-full;
}

.inverted-pill {
  @apply bg-night dark: bg-gems text-gems dark:text-night text-xs font-bold px-6 md:px-3 py-1 flex items-center justify-center uppercase rounded-full;
}

.bland-pill {
  @apply text-night dark: text-lilac border border-lilac/60 text-xs font-bold w-8 py-1 flex items-center justify-center uppercase rounded-full;
} */

.card {
  position: relative;
  overflow: hidden;

  border: 1px solid rgba(98, 96, 108, 0.2);
  border-radius: 16px;

  padding: 20px;
}

.dark .card {
  position: relative;
  overflow: hidden;

  border: 1px solid rgba(245, 225, 255, 0.2) !important;
  border-radius: 16px;

  padding: 20px;
}

.card-clip {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  background: linear-gradient(to right,
      rgba(36, 33, 37, 0.06) 80%,
      rgba(98, 96, 108, 0.1) 100%);
  box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(16px);

  z-index: 1;
}

.card-content {
  position: relative;
  z-index: 9999;
}

/* ================ */
/* TT Travels */
/* ================ */

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-ThinItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-DemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-DemiBoldItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-ExtraBoldItalic.otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('/fonts/tt_travels/TT Travels-BlackItalic.otf');
  font-weight: 900;
  font-style: italic;
}

/* ================ */
/* NB INTERNATIONAL */
/* ================ */

@font-face {
  font-family: 'NB International';
  src: url('/fonts/nb_international/NB International-Mono.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NB International';
  src: url('/fonts/nb_international/NB International-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NB International';
  src: url('/fonts/nb_international/NB International-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NB International';
  src: url('/fonts/nb_international/NB International-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NB International';
  src: url('/fonts/nb_international/NB International-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NB International';
  src: url('/fonts/nb_international/NB International-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}